# Node.js dependencies
/node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory (test coverage reports)
coverage

# Build / Dist files
dist
build

# OS-specific files
.DS_Store
Thumbs.db

# Optional: lock files
package-lock.json
yarn.lock

src/secrets/